In [2]:
import pandas as pd
data = pd.read_csv('/Users/yashshah/ASU Documents/Fall 22/CSE 578 Data Visualisation/Project/Mukesh-Shubham-Tirth-Tirth-Vraj-Yash/yash-shah-code/ML Model/VADanalysis/outputs/2835653131.csv')
data

,Sentence ID,Sentence,Valence,Arousal,Dominance,Sentiment Label,Average VAD,# Words Found,Found Words,All Words
0,1,"['the', 'confidence', 'you', 'lead', 'life', '...",6.168372,4.121860,5.888372,positive,5.392868,43 out of 62,"['confidence', 'lead', 'life', 'realize', 'mas...","['confidence', 'lead', 'life', 'realize', 'mas..."
1,2,"['the', 'person', 'who', '’', 's', 'voice', 'i...",5.737500,3.886875,5.537500,neutral,5.053958,16 out of 25,"['person', 'voice', 'read', 'comic', 'cause', ...","['person', 'voice', 'read', 'comic', 'batman',..."
2,3,"['tête', 'de', 'femme', 'no', '.', '2', ',', '...",5.404400,4.582400,5.485600,neutral,5.157467,25 out of 56,"['femme', 'portrait', 'build', 'female', 'figh...","['tête', 'de', 'femme', 'portrait', 'dora', 'm..."
3,4,"['then', 'working', 'on', 'self', 'betterment']",5.955000,4.555000,6.930000,neutral,5.813333,2 out of 3,"['work', 'self']","['work', 'self', 'betterment']"
4,5,"['if', 'not', 'working', 'on', 'nurturing', 'r...",5.767776,4.280580,5.571238,neutral,5.206531,517 out of 848,"['neg-work', 'neg-nurture', 'relationship', 'c...","['work', 'nurture', 'relationship', 'care', 'k..."
...,...,...,...,...,...,...,...,...,...,...
1250,1251,[],NaN,NaN,NaN,NaN,NaN,0,NaN,[]
1251,1252,"['twitter', 'can', 'be', 'the', 'new', 'water'...",5.520000,4.294459,5.391351,neutral,5.068604,74 out of 134,"['new', 'water', 'cooler', 'see', 'cough', 'ca...","['twitter', 'new', 'water', 'cooler', 'anyone'..."
1252,1253,[],NaN,NaN,NaN,NaN,NaN,0,NaN,[]
1253,1254,"['bradley', 'beal', ':']",NaN,NaN,NaN,NaN,NaN,0,NaN,"['bradley', 'beal']"
1254,1255,"['https', ':', '//t.co/mbxub7la9frt', '@', 'da...",5.566875,4.280000,5.729375,neutral,5.192083,16 out of 39,"['talk', 'learn', 'chef', 'feel', 'winner', 's...","['http', 'davidmackau', 'amy', 'klobuchar', 't..."